/* CSS reset taken from https://www.joshwcomeau.com/css/custom-css-reset/ */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* End of reset */

html,
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.game-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  aspect-ratio: 1/1;
  width: 40%;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  top: 90%;
  left: 90%;
}

.scorecard {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 90%;
  bottom: 90%;
}

.unclickable {
  pointer-events: none; 
}

.cell {
  font-size: 10rem;
  text-align: center;
}
